#app {
    color: red;
}

.testImage {
    background-image: url(https://tpc.googlesyndication.com/simgad/13332331419394076158?sqp=4sqPyQQrQikqJwhfEAEdAAC0QiABKAEwCTgDQPCTCUgAUAFYAWBfcAJ4AcUBLbKdPg&rs=AOga4qn5uXyqNTJad_FAlPa9lWkOKR-lKg);
    width           : 500px;
    height          : 500px;
}